# Build system files
*.log
Stage

# Visual Studio files
Source/*/obj/*
x64/
Source/*/Debug/*
Source/*/Release/*
Source/*/obj/*
Source/*/bin/*
Tests/*/obj/*
Tests/*/bin/*
*.suo
*.*sdf
*.user
StyleCop.Cache
*.bak
.vs/

# Resharper files
_ReSharper*
*.DotSettings
*.resharper
*.sln.DotSettings

# .Git-files
*.orig

# ECO files
modlr.config

# Office Temp Files
~$*

AppKodiak/*/*/obj/
AppEagle/*/*/obj/
AppLynx/*/*/obj/
AppCommon/*/*/obj/
*.GhostDoc.xml
NuGet.Config
!Build/Tools/NuGet/NuGet.Config
branches.awk
branches.html
branches.sh
Samples/*/obj
Samples/*/bin
*/Source/*/Debug
*/Source/*/x64/Debug
*/Source/*/Release
Build/Tools/ExtendedComputerKeyGenerator/src/bin/
Build/Tools/ExtendedComputerKeyGenerator/src/obj/
Build/Tools/AwsUploadTool/AwsUploadTool/bin/*
Build/Tools/AwsUploadTool/AwsUploadTool/obj/*
Build/Tools/BuildLoggers/BuildLoggers/bin/*
Build/Tools/BuildLoggers/BuildLoggers/obj/*
Build/settings.Eagle.targets


Build/Tools/ExtendedComputerKeyGenerator/bin/
Labs/ShellInfoDiag/obj/
Labs/ShellInfoDiag/bin/
VideoFramesExtractor/Comparer/obj/
VideoFramesExtractor/VideoFramesExtractor/obj/
Build/settings.tkaa.targets
Build/Tools/DllChecker/DllChecker/obj/
Build/Tools/DllChecker/DllChecker/bin/
TestResults/GrizzlyAnalysis.TE.Tests.mdf
TestResults/GrizzlyAnalysis.TE.Tests_log.ldf
Build/Tools/FlankDetector/FlankDetector/obj/
Build/Tools/FlankDetector/FlankDetector/bin/
Build/Tools/FileInfoDebugger/FileInfoDebugger/obj/
Build/Tools/FileInfoDebugger/FileInfoDebugger/bin/
rebuild.bat
*.VC.db
*.VC.opendb
*.VC.db-wal
*.VC.db-shm
Build/Tools/ProSdkTestApp/ProSdkTestApp/bin/
Build/Tools/ProSdkTestApp/ProSdkTestApp/obj/
/.vs
AppCommon/Source/Tobii.Studio.Common.Model/bin/

*.ipch
DeveloperTools/*/obj/
DeveloperTools/*/bin/
.idea/
Build/Tools/ProSdkTestApp/SECClient/bin/
Build/Tools/ProSdkTestApp/SECClient/obj/
Build/Tools/ProSdkTestApp/SECClient/tobii_stream_engine.dll
